body{
    background-color: bisque;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
}
.container-inside-1{
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 10px;
    margin: 5px;
}
.container-inside-2{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px;
    margin: 5px;
}
.block-1 {
    background-color: brown;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.block-1 div{
    background-color: orange;
    margin: 10px;
    padding: 10px;
}

.block-2 {
    background-color: rgb(255, 0, 0);
    margin: 10px;
    padding: 10px;
}
.block-2 div{
    background-color: yellow;
    margin: 10px;
    padding: 10px;
}
.block-3{
    background-color: aqua; 
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: auto;
}
.b3-element1{
    padding: 10px;
    margin: 10px;
    flex: 1 1 45%;
    background-color: blue;
}
.b3-element5{
    padding: 10px;
    margin: 10px;
    background-color:yellowgreen;
}

.block-4{
    background-color: green; 
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 2;
}
.block-4 div{
    background-color: violet;
    margin: 10px;
    padding: 10px;
    
}
.block-5{
    background-color: lightgray; 
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
}
